/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #b18cfe;
  --ifm-color-primary-dark: #9765fe;
  --ifm-color-primary-darker: #8951fd;
  --ifm-color-primary-darkest: #6217fd;
  --ifm-color-primary-light: #cbb3fe;
  --ifm-color-primary-lighter: #d9c7ff;
  --ifm-color-primary-lightest: #ffffff;
}

[data-theme='dark'] {
  --ifm-color-primary: #4d22b3;
  --ifm-color-primary-dark: #451fa1;
  --ifm-color-primary-darker: #411d98;
  --ifm-color-primary-darkest: #36187d;
  --ifm-color-primary-light: #5525c5;
  --ifm-color-primary-lighter: #5927ce;
  --ifm-color-primary-lightest: #6a3bda;
}